body, html {
    height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
}

.personal-character {
    width: 150px;
    height: auto;
    display: flex;
}

.personal-character img {
    width: 100%;
}

.row {
    display: flex;
}

.main-page-background {
    height: 100%;
    background-image: url("../images/main-page/mickey-mouse-welcome-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.button-start-evaluation {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 5%;
}