.background {
    background-image: url("../images/transition/background.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align-last: center;
}

.board,
.stars {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.board {
    height: 85%;
}

.star {
    height: 60px;
    opacity: 0;
}

.active-star {
    animation: fade 4s 0.5s forwards;
}

.visible-star {
    opacity: 1;
}

.invisible-star {
    display: none;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}