.background {
    background-image: url("../../images/numbers-game/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    top: -10%;
}

.background-caption {
    width: 30%;
    right: 0;
    bottom: 0;
    position: absolute;
}

.question-mark {
    position: absolute;
    top: 0;
    width: 10%;
}

.main-box {
    align-items: center;
    height: 100%;
    display: inline-flex;
    margin-left: 40vh;
}
.vertical-line {
    border: solid 2px black;
    height: 60vh;
}

.object-section {
    text-align-last: center;
    height: 35vh;
    margin-left: 50px;
}

.object-section-image {
    margin-right: 50px;
    margin-top: 20px;
    height: 100%;
}

.object-section-image:hover {
    transform: scale(0.8,0.8);
}

.objects {
    border-radius: 50%;
    border: solid 21px #000;
    width: 20em;
    height: 20em;
    right: 30%;
    bottom: 30%;
    position: absolute;
}

.numbers {
    border: solid 21px #000;
    width: 20em;
    height: 20em;
    left: 10%;
    bottom: 10%;
    position: absolute;
}

.number {
    width: 25%;
    height: 25%;
    position: absolute;
}

.number:hover {
    width: 30%;
    height: 30%;
    cursor: pointer;
}

#first {
    top: 10%;
    left: 10%;
}

#second {
    top: 35%;
    left: 60%;
}

#third {
    top: 70%;
    left: 25%;
}
